---
import MainLayout from "../../layouts/MainLayout.astro";
import NavLayout from "../../layouts/NavLayout.astro";

import { ProductData } from "../../data/products";
const product = ProductData.find((p) => p.url_name === Astro.params.url_name);
---

<MainLayout title="Welcome to Astro.">
  <NavLayout page="Home">
    <div class="w-10/12 m-auto mt-4 mb-4">
      <a href="/products"> <button class="btn btn-wide"> Go Back</button></a>
    </div>
    <div class="flex justify-evenly mt-4 mb-4">
      <div class="max-w-md">
        <img
          src={"https://placeimg.com/400/225/arch"}
          alt={product?.name}
          class="w-full"
        />
      </div>
      <div>
        <h1 class="font-bold text-5xl mb-2">{product?.name}</h1>
        <div class="flex justify-evenly">
          <div class="font-bold mr-4">Price</div>
          <span>{product?.price}</span>
        </div>
        <div class="flex flex-row justify-center">
          {
            product?.categories.map((category) => {
              return (
                <a href={`/categories/${category.url_name}`} class="p-2">
                  <div class="badge badge-outline bg-gray-300 p-2">
                    {category.name}
                  </div>
                </a>
              );
            })
          }
        </div>
      </div>
    </div>
  </NavLayout>
</MainLayout>
